name: CI
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  pr_checks:
    name: PR Checks
    if: >-
      ${{
        github.event_name == 'pull_request'
        && !(github.event_name == 'pull_request' && github.event.pull_request.user.login == 'github-actions[bot]' && startsWith(github.event.pull_request.title, '[release v'))
      }}
    uses: elastiflow/gha-reusable/.github/workflows/reusable_pr_checks.yml@v0

  go_checks:
    name: Go checks
    uses: elastiflow/gha-reusable/.github/workflows/reusable_go_checks.yml@v0
    with:
      unit_test_cmd: make test-unit
      unit_test_report_coverage_cmd: make test-unit-enforce-coverage
      go_version_file: "go.mod"

  integration_tests:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Run integration tests
        run: make test-integration

  renovate_config_validator:
    name: Renovate config validator
    runs-on: ubuntu-latest
    container:
      image: renovate/renovate:latest
      options: --user root # root is needed for checkout to work
    steps:
      - uses: actions/checkout@v4
      - name: Validate Renovate config
        run: renovate-config-validator --strict


  all_checks:
    name: All Checks
    if: always()
    runs-on: ubuntu-latest
    needs:
      - pr_checks
      - go_checks
      - integration_tests
      - renovate_config_validator
    steps:
      - name: Check if all checks passed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe
        with:
          jobs: ${{ toJson(needs) }}
          allowed-skips: '["pr_checks"]'
